<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>12</string>
					<key>EndingLineNumber</key>
					<string>53</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>53</string>
					<key>Timestamp</key>
					<string>728567487.350481</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MediaProject/TableViewCell/TVDetail/TVDetailRecommendTableViewCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            </string>
				<key>leading</key>
				<string>            make.top.equalTo(groupTitle.snp.bottom).offset(10)
            make.horizontalEdges.bottom.equalTo(contentView)
</string>
				<key>trailing</key>
				<string>make.height.equalTo(230) // 왜 이걸 써야하지 밑에서 configureCollectionViewLayout을 해주는데?
        }
    }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>25</string>
					<key>EndingLineNumber</key>
					<string>72</string>
					<key>StartingColumnNumber</key>
					<string>19</string>
					<key>StartingLineNumber</key>
					<string>72</string>
					<key>Timestamp</key>
					<string>728578502.766382</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MediaProject/TableViewCell/TVDetail/TVDetailTableViewCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>height</string>
				<key>leading</key>
				<string>        overviewLabel.snp.makeConstraints { make in
            make.top.equalTo(posterImageVies.snp.bottom).offset(8)
//            make.</string>
				<key>trailing</key>
				<string>.eq(20) // UITextView로 했을 때는 높이 안 정해주니까 아예 안나오던데 이유가?
            make.horizontalEdges.bottom.equalTo(contentView).inset(10)
             
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
